table{border-collapse:collapse ;} 
td { 
 border: 1px solid black ; 
 padding: 3px ;} 
.muet {background:grey ;color:grey ;}  
.parlant {background:black ;color:black ;}  
.vide {border-left:none ;border-top:none ;} 
.acte {text-align:center ;}
 .last, .rupture {border-right:double ;} 